<% content_for :title, 'Edit Profile' %>
<div class="ui center aligned grid">
    <div class="column">
        <%= form_for(@profile,url:{ :controller => 'profiles', :action => 'update'},html: {class: "ui large segment form error"})  do |f| %>
        <%= render 'shared/form_error_messages', object: f.object%>
            <div class="ui horizontal divider">Create a Profile</div>
            <div class="inline field">
                <%= f.text_field :first_name, :placeholder => "First Name" , :required => true%>
                <%= f.text_field :middle_name, :placeholder => "Middle Name" , :required => true%>
                <%= f.text_field :last_name, :placeholder => "Last Name" , :required => true%>
            </div>
            <div class="field"><%= f.text_field :address, :placeholder => "Complete Address" , :required => true%></div>
            <div class="field">
                <%= f.telephone_field :phone_number, :placeholder => "phone Number" , :required => true%>
                <div class="meta">Can be mobile or telephone number</div>
            </div>
            <div class="inline radio checkbox field"> 
                <label>Gender</label> 
                    <%= f.radio_button :gender, 'male', :checked => true%> 
                    <%= label :gender_male, 'Male' %>
                    <%= f.radio_button :gender, 'female' %>
                    <%= label :gender_female, 'Female' %>
            </div>
        <div class="inline field">
            <label>Birth Date</label>
            <%= f.date_select :birth_date, {:order => [:month, :day, :year],:prompt => true, :start_year => 1910, :end_year => (Time.now.year - 17)},:required => true %>
            </div>
        <%= f.submit "Edit Profile", class: "ui submit button"%>
        <% end %>
    </div>
</div>
