<% provide(:title, "Log in") %>
<div class="ui middle aligned center aligned grid">
  <div class=" column">
    <h2 class="ui image header">
      <img src="/images/logo.png" class="image">
      <div class="content">
        Log-in to your account
      </div>
    </h2>
    <%= form_for(:session, url: login_path,:html => {:class => "ui shadow large segment form error"})   do |f| %>
     
      <div class="ui stacked segment">
       <div class="field">
          <div class="ui left icon input">
           <i class="user icon"></i>
            <%= f.email_field :email, :placeholder => "Email", :required => true%>   
          </div>
       </div>
       
        <div class="field">
          <div class="ui left icon input">
           <i class="lock icon"></i>
            <%= f.password_field :password, :placeholder => "Password", :required => true %>
          </div>
       </div>
       
       <div class="ui checkbox">
        <%= f.check_box :remember_me %>
        <label>Remember me on this computer</label>
       </div>
        
      </div>   
      <%= f.submit "Login",class:'ui vanilla large button'%>

   <% end %>

    <div class="ui shadow message">
      New to us? <%=link_to 'Sign Up', signup_path%>
    </div>
  </div>
</div>