<%=content_for :title, @crate.name %>
<h2></h2>
<div class="ui container">
        <div class="ui <%=find_state_color @crate.states_id%> label raised segment" id="status_tag">
            <%=find_status @crate.states_id %>
        </div>
        <div class="ui items container">
          <div class="item">
               <div class="ui very large image">
                <%@images.each do |pic| %>
                    <%= image_tag pic.image.url(:medium)%>
                <% end %>
                </div>
                <div class="content">
                   <div class="ui segment desc">
                   <div class="meta">
                       <h1 class="break-it"><%=@crate.name%></h1>
                   </div>
                   <div class="meta">
                       <h3>Preferred Meet-up Location: <%=locate @crate.locations_id%></h3>
                   </div>
                   <div class="meta">
                       <h3><i class="money icon"></i>Php <%=delmited_price(@crate.price)%></h3>
                   </div>
                   <div class="meta">
                       <i class="cube icon"></i><span class="cinema"><%=crate_quality(@crate.qualities_id)%></span>
                       <i class="user icon"></i><span class="cinema">Owned by: <%= link_to @crate.user.alias, @crate.user %></span>                       
                       <h3>Contact: <%=@contact%></h3>
                   </div>
                    <div class="description">
                               <h4>
                               Details:
                               <p><%=simple_format(@crate.description) %></p></h4>
                    </div>
                    <div class="meta">
                        <div class="ui label">Tags: <%=raw tag_links(@crate.all_tags)%></div>
                    </div>
                    <div class="extra">
                           <div class="extra">Posted <%=(@crate.created_at).strftime('%B %d, %Y')%></div>
                    </div>
                   </div>
            </div>
          </div>    
        </div>        
                <%if logged_in? && is_owner?(@crate.user.id)%>
                    <div class="ui segment">
                        <div class="ui label"><%= link_to "Delete", @crate, method: :delete,data: { confirm: "You sure?" } %></div>
                        <div class="ui label"><%= link_to "Edit", edit_crate_path%></div>
                    </div>
                <%end%>
            
            
            
            <div class="ui threaded comments">
            <h3 class="ui dividing header">Queries</h3>    
            <%@queries.each do |query|%>
               <div class=" comment">
                  <div class="avatar">
                    <%user= query.user%>
                    <%=image_tag user.avatar, class:'ui tiny image'%>
                   </div>
                <div class="content">
                  <%=link_to user.alias, user, class:'author'%>
                  asked
                  <%= query.title %>
                  <div class="metadata">
                    <span class="date"><%=time_ago_in_words(query.created_at)%> ago</span>
                  </div>
                  <div class="text">
                  <%=simple_format(query.description)%>
                  </div>
                  <div class="actions">
                    <a class="reply">Reply</a>
                  </div>
                </div>
                <!--  add reply model!-->
                <div class="comments">
                    <%query.replies.all.each do |reply|%>
                  <div class="comment">
                    <a class="avatar">
                    <%=image_tag reply.user.avatar, class:'ui tiny image'%>
                    </a>
                    <div class="content">
                        <%=link_to reply.user.alias, reply.user, class: 'author'%>
                      <div class="metadata">
                          <span class="date"><%=time_ago_in_words(reply.created_at)%> ago</span>
                      </div>
                      <div class="text">
                          <%=simple_format(reply.body)%>
                      </div>
                    </div>
                  </div>
                   <%end%>
                <%=form_for(@reply,url:{controller:'replies',action: 'create'}, html:{class:'re ui reply form'})do|f|%>
                <div class="field">
                    <%= f.text_area :body ,class: 'ui field', id:'reply_area'%>
                    <%= f.hidden_field :query_id, value: query.id%>
                </div>
                <%= button_tag(type: 'submit', class: "ui small submit labeled icon button") do %>
                <i class="edit icon"></i> Reply
                <% end %>
                <%end%>
                </div>
                
              </div>
            <%end%>
            <%=render 'queries/query_form', query: @query %>
           </div>
</div>


