<%=content_for :title, 'Crate' %>
<h2></h2>
<div class="ui container">
        <div class="ui <%=find_state_color @crate.states_id%> label raised segment" id="status_tag">
            <%=find_status @crate.states_id %>
        </div>
        <div class="ui items container">
          <div class="item">
               <div class="ui very large image">
                <%@images.each do |pic| %>
                    <%= image_tag pic.image.url(:medium)%>
                <% end %>
                </div>
                <div class="content">
                   <div class="ui segment desc">
                   <div class="meta">
                       <h1 class="break-it"><%=@crate.name%></h1>
                   </div>
                   <div class="meta">
                       <h3>Preferred Meet-up Location: <%=locate @crate.locations_id%></h3>
                   </div>
                   <div class="meta">
                       <h3><i class="money icon"></i>Php <%=delmited_price(@crate.price)%></h3>
                   </div>
                   <div class="meta">
                       <i class="cube icon"></i><span class="cinema"><%=crate_quality(@crate.qualities_id)%></span>
                       <i class="user icon"></i><span class="cinema">Owned by: <%= link_to @crate.user.alias, @crate.user %></span>                       
                       <h3>Contact: <%=@contact%></h3>
                   </div>
                    <div class="description">
                               <h4>
                               Details:
                               <p><%= simple_format(@crate.description) %></p></h4>
                    </div>
                    <div class="meta">
                        <div class="ui label">Tags: <%=raw tag_links(@crate.all_tags)%></div>
                    </div>
                    <div class="extra">
                           <div class="extra">Posted <%=(@crate.created_at).strftime('%B %d, %Y')%></div>
                    </div>
                   </div>
            </div>
          </div>    
        </div>        
                <%if logged_in? && is_owner?(@crate.user.id)%>
                    <div class="ui segment">
                        <div class="ui label"><%= link_to "Delete", @crate, method: :delete,data: { confirm: "You sure?" } %></div>
                        <div class="ui label"><%= link_to "Edit", edit_crate_path%></div>
                    </div>
                <%end%>
            
      
    </div>


