<%=provide(:title, @user.alias + " 's Profile - Edit ") %>
  <div class="ui center aligned grid">
   <div class="seven wide column">
            <div class="header"><h1>Edit Account</h1></div>
            <%= form_for(@user,html: {class: "ui large segment form error", multipart: true})  do |f| %>
            <%= render 'shared/form_error_messages', object: f.object %>
            <div class="ui horizontal divider">Login Premises</div>
            <div class="field"><%= f.text_field :alias, :placeholder => "Alias",:required => true%></div>
            <div class="field"><%= f.email_field :email, :placeholder => "Email",:required => true%></div>
            <div class="field"><%= f.password_field :password, :placeholder => "Password" %></div>
            <div class="field"><%= f.password_field :password_confirmation, :placeholder => "Confirm Password"%></div>
            <div class="field">
            <label>User Picture</label>
            <%= f.file_field :avatar %>     
            </div>
        <%= f.submit "Edit Account", class: "ui submit button"%>
        <% end %>
    </div>
</div>
