<% provide(:title, 'Sign up') %>
<div class="ui center aligned grid">
    <div class="seven wide column">
            <header><h1>Sign Up</h1></header>
            <%= form_for(@user,html: {class: "ui large segment form error"})  do |f| %>
            <%= render 'shared/form_error_messages', object: f.object %>
            <div class="ui horizontal divider">Login Account Details</div>
            <div class="field"><%= f.text_field :alias, :placeholder => "Alias",:required => true%></div>
            <div class="field"><%= f.email_field :email, :placeholder => "Email",:required => true%></div>
            <div class="field"><%= f.password_field :password, :placeholder => "Password" , :required => true%></div>
            <div class="field"><%= f.password_field :password_confirmation, :placeholder => "Confirm Password" , :required => true%></div>
            <%= f.submit "Create an account", class: "ui submit button"%>
        <% end %>
    </div>
</div>

  
