<%= form_for(@crate,html: {class: "ui inline form error", multipart: true}) do |f| %>
<%=render 'shared/form_error_messages', object: f.object %>
<div class="ui field">
  <div class="ui inline field"> 
     <label>Status</label> 
         <div class="ui radio checkbox">
             <%= f.radio_button :states_id, '1', :checked => true%> 
             <%= label :states_id_1, 'Buying' %>
         </div>
         <div class="ui radio checkbox">
             <%= f.radio_button :states_id, '2' %>
             <%= label :states_id_2, 'Selling' %>
         </div>
  </div>
  <div class="ui field">
     <label>Name</label>
      <%= f.text_field :name ,required: true,class: 'ui field', :maxlength => 30%>
     <label>Description</label>     
     <%= f.text_area :description,required: true ,class: 'ui field', :maxlength => 300%>
     <label>Price</label>
      PHP <%= f.number_field :price,required: true,class: 'ui field', min: '0', max:'999999999.99'%>
      <label>Tags (Limit of 5)</label>
      <%= f.text_field :all_tags, placeholder: "Tags Separated with comma"%>
  </div>
  <div class="ui inline field">
         <label>Quality / Preffered Quality</label> 
         <div class="ui radio checkbox">
         <%= f.radio_button :qualities_id, '1'%> 
         <%= label :qualities_id_1, '2nd Hand' %>
         </div>
         <div class="ui radio checkbox">
         <%= f.radio_button :qualities_id, '2', :checked => true %>
         <%= label :qualities_id_2, 'New' %>
         </div>
  </div>  
  <div class="ui inline field"> 
     <label>Prefered Meet-up Location</label> 
      <%= f.collection_select(:locations_id,Location.all, :id, :name) %>
  </div>
  
  <div class="ui inline field"> 
     <label>Category</label> 
      <%= f.collection_select(:category_id,Category.all, :id, :name) %>
  </div>
  
  </div>
  <div class="ui inline field"> 
     <label>Picture (Limit of 5)</label>
      <%= file_field_tag "pictures[]", type: :file, multiple:true, accept:'image/*'%>
  </div>
  
  <%= f.submit 'Post', class: 'ui primary button' %>
<% end %>