
<div class="ui grid container">
        <div class="ui center column fields ">
            <%= form_for @report, html: {class: "ui form"} do |f| %>
            <div class="ui inverted white header"><%= f.label 'Report user for: '%></div>
            <%= f.text_area :description, size: "10x10" , class:'ui field',required: true%>
            <%= f.submit "Submit Report",class:'ui button'%>
            <%= f.hidden_field :reported_id, value: user.id%>
            <%= f.hidden_field :reporter, value: current_user.id%>
            <% end %>
        </div>
</div>