<h2></h2>
<div class="ui container" >
        <table class="ui table">
         <thead>
            <tr>
                <th>Active Crates</th>
                <th>Action</th>
            </tr>
         </thead>
         <tbody>
            <%@active_crates.each do |crate| %>
              <tr>
                  <td><%=link_to crate.name, crate , class: 'item'%></td>
                  <td>
                  <% unless crate == '' || crate == nil %>
                     <%=button_to 'Inactivate',:controller =>'pages',:action => 'change_status', :crate_id => crate.id, :active_id => 2%> 
                     <%=button_to 'Archive',:controller =>'pages',:action => 'change_status', :crate_id => crate.id, :active_id => 3%> 
                  <%end%>
                  </td>
              </tr>
          <%end%>
            
         </tbody>
     </table>
        <table class="ui table">
         <thead>
            <tr>
                <th>Inactive Crates</th>
                <th>Action</th>
            </tr>
         </thead>
         <tbody>
            <%@inactive_crates.each do |crate| %>
              <tr>
                  <td><%=link_to crate.name, crate , class: 'item'%></td>
                  <td>
                  <%unless crate == '' || crate == nil%>
                     <%=button_to 'Activate',:controller =>'pages',:action => 'change_status', :crate_id => crate.id, :active_id => 1%>
                  <%end%>
                  </td>
              </tr>
          <%end%>
            
         </tbody>
     </table>
        <table class="ui table">
         <thead>
            <tr>
                <th>Archived Crates</th>
                <th>Action</th>
            </tr>
         </thead>
         <tbody>
            <%@fin_crates.each do |crate| %>
              <tr>
                  <td><%=link_to crate.name, crate , class: 'item'%></td>
                  <td>
                  <% unless crate == '' || crate == nil %>
                      <%=button_to 'Activate',:controller =>'pages',:action => 'change_status', :crate_id => crate.id, :active_id => 1%>
                  <%end%>
                  </td>
              </tr>
          <%end%>
            
         </tbody>
    </table>
</div>