<div class="ui borderless menu" id="header">
    <div class="ui container">
      <div class="header item">
          <%=link_to image_tag("/images/logo.png", class: 'ui mini image'),root_path %>
      </div>
     
      <div class="right menu">
            
          <%= form_tag '/search/', :method => 'get', :class => 'ui form item' do %>
          <%= text_field_tag :name, value = nil  ,:placeholder => "Quick Search"%>
          <%end %>
           
            <%unless logged_in? %> 
                <div class="ui item"><%=link_to 'Login', login_path, class: 'ui secondary button' %></div>
                <div class="ui item"><%=link_to 'Sign Up', signup_path, class: 'ui primary button' %></div>
            <% else %>
            <div class="ui dropdown item"> 
                Menu<i class="dropdown icon"></i>
                <div class="menu">
                    <!--<div class="item"></div>-->
                    <%unless current_user.profile.nil?%>
                    <%=link_to 'Edit Profile', edit_user_profile_path(current_user.id,current_user.profile),class: 'item' %>
                    <%end%>
                    <%=link_to 'Edit Account', edit_user_path(current_user),class: 'item' %>
                    <%=link_to 'Log out',logout_path, method: :delete,class: 'item' %>
                </div>
            </div>
            <%end%>
     </div>
    </div>
</div>