
<%if admin?%>
<div class="item">
    <%=link_to 'Admin Options', admin_path%>
</div>
<%end%>  
<div class="item">
   <b>Public Places</b>
    <div class="menu">
        <%=link_to 'See Crates / Advance Search', '/search',class: 'item'%>
        <%=link_to 'Community',community_path,class: 'item'%>
        <%=link_to 'Home', '/' ,class: 'item'%>
        <%=link_to 'My Garage', current_user,class: 'item'%>
    </div>
</div>

<div class="item">
   <b>Personal</b>
   <div class="menu">
    <%=link_to 'Add Crate', new_crate_path,class: 'item' %>
    <%=link_to 'Edit Account', edit_user_path(current_user),class: 'item' %>
    <%unless current_user.profile.nil?%>
        <%=link_to 'Edit Profile', edit_user_profile_path(current_user.id,current_user.profile),class: 'item' %>
    <%end%>
    
    </div>
</div>





<%=link_to 'Log out',logout_path, method: :delete,class: 'bottom spaced item' %>    