
<%if admin?%>
<div class="item">
    <%=link_to 'Admin Options', admin_path%>
</div>
<%end%> 
    <a class="item" href="/"><b><i class="home icon"></i>Home</b></a>
<div class="item">
   <b><i class="comments outline icon"></i>Community</b>
    <div class="menu">
        <%=link_to 'Market', '/search',class: 'item'%>
        <%=link_to 'Discussions',community_path,class: 'item'%>
        <%=link_to 'Garage', current_user,class: 'item'%>
    </div>
</div>

<div class="item">
   <b><i class="user icon"></i>Personal</b>
   <div class="menu">
    <%=link_to 'Add Crate', new_crate_path,class: 'item' %>
</div>
</div>
<div class="item">
       <b><i class="settings icon"></i>Settings</b>
       <div class="menu">
        <%=link_to 'Account', edit_user_path(current_user),class: 'item' %>
        <%unless current_user.profile.nil?%>
        <%=link_to 'Profile', edit_user_profile_path(current_user.id,current_user.profile),class: 'item' %>
    <%end%>
    </div>
</div>



<a class="item" rel="nofollow" data-method="delete" href="/logout"><b><i class="sign out icon"></i>Log out</b></a>