<!DOCTYPE html>
<html>
<head>
     <!--[if lt IE9]>
    <script src="//cdnjs.cloudfare.com/ajax/libs/html5shiv/r29/html5.min.js">
    </script>
    <![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  
  <title><%=yield(:title)%> CratesProjectv3</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body id="body">
   
    <div class="ui top attached menu">
        
        <%if logged_in?%>
        <a class="item"  id="side_btn"><i class="sidebar icon"></i>Menu</a>
        <a class="item" href="/"><b><i class="home icon"></i>Home</b></a>
        <div class="right menu">
        <%else%>
        <div class="right menu">
        <a class="item"  href="/login"><i class="user icon"></i>Login</a>
        <a class="item"  href="/signup"><i class="write icon"></i>Signup</a>
        <a class="item"  href="/community"><i class="comments outline icon"></i>Discussion Boards</a>
        <a class="item"  href="/search"><i class="shop icon"></i>Market</a>
        <%end%>
        <a class="item"  href="/help"><i class="help icon"></i>About/Help</a>      
       </div>
       
    </div>
    <div class="ui thin sidebar inverted vertical menu">
        <%=render 'layouts/sidebar' if logged_in?%>
    </div>
     <%=render 'shared/error_messages', object: flash%>
     <div id="content">
      <div class="ui loader" id='loader'></div>
      <%=yield%>    
     </div>
         
         <h1></h1>
         <h1></h1>
  
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
     <script>
        $('.re.ui.reply.form').hide();
         
        $('.ui.dropdown').dropdown();
        
         $('#side_btn').on('click', function(){
           $('.ui.sidebar')
            .sidebar('toggle')
           ;    
         })
         
         $('.reply').on("click", function(){
                $(this).parent().parent().parent().children('.comments').children('.re.ui.reply.form').toggle();
         });
    </script>
    </div>
</body>
</html>
